#papa-smoke{
    border-radius: 100%;
    border: 10px solid pink;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
div {
    padding: 1em;
}

body{
    background-color: royalblue;
    font-family: "Comic Sans MS";
}